@font-face {
    font-family: 'font1';
    src: url('../fonts/fontdefaut/Montserrat-Medium.eot');
    src: url('../fonts/fontdefaut/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontdefaut/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/fontdefaut/Montserrat-Medium.woff') format('woff'),
        url('../fonts/fontdefaut/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'font2';
    src: url('../fonts/fontdefaut/Montserrat-SemiBold.eot');
    src: url('../fonts/fontdefaut/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontdefaut/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/fontdefaut/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/fontdefaut/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'font3';
    src: url('../fonts/fontdefaut/Montserrat-Bold.eot');
    src: url('../fonts/fontdefaut/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontdefaut/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/fontdefaut/Montserrat-Bold.woff') format('woff'),
        url('../fonts/fontdefaut/Montserrat-Bold.ttf') format('truetype');
}
